In [1]:
import os
import numpy as np
import logging
import datetime
import json
import glob
import pandas as pd

In [13]:
for val in range(22, 1):
    print(val)

In [2]:
hr_nm = "18"
path = "data/StreamToS3-5-2017-10-22-" + hr_nm + "*"
file_test = "data/StreamToS3-5-2017-10-22-18-59-42-04ae75a6-5fde-4d0c-a75f-d9301c4dc6fb"
#path = os.path.join('data\StreamToS3-5-2017-10-22-', hr_nm)
print(path)

data/StreamToS3-5-2017-10-22-18*

In [3]:
def import_hour_files(path_dir, hr_num): 
    path = path_dir + hr_num  + "*"
    newsletter_traffic = []
    print(path)
    for idx, fname in enumerate(glob.iglob(path)):
        logger = logging.getLogger()
        with open(fname, "r") as f:
            contents = f.read()
            for bit in contents[1:-1].split('}{'):
                try:
                    rec = json.loads("{" + bit + "}")
                    newsletter_traffic.append(rec)
                except ValueError as e:
                    logger.warning("BAD JSON")
                    continue
    return newsletter_traffic

In [4]:
test_list = import_hour_files(path_dir="data/StreamToS3-5-2017-10-22-", hr_num="18")

data/StreamToS3-5-2017-10-22-18*

In [5]:
print(len(test_list))
print(test_list[0])
print(type(test_list))

175724
{'pathRoot': 'GALLERY', 'userAgent': 'Mozilla/5.0 (Linux; Android 5.1.1; SM-J100VPP Build/LMY48B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.91 Mobile Safari/537.36', 'referrer': 'http://lm.facebook.com/l.php?u=http%3A%2F%2Fapi.nanigans.com%2Ftarget.php%3Fapp_id%3D312727%26nan_pid%3D1862608003%26target%3D%252F%252Fsea.247sports.com%252FGallery%252FLogos-for-all-32-NFL-Teams-re-imagined-as-professional-wrestlers-106650830%252FGallerySlides%252F662065%253Fftag%253DACQ-07-10aac1b%2526vndid%253D1862608003%2526nan_pid%253D1862608003%2526ad_id%253D7103994%26args&h=ATPpBZyA8mDN2CePikcsp9Gy0bY8vr4G_3wPmXd-hrCwGLXmRmT_qyRGbrJVgMoZNOj7Qivoh5yvtulKP79ojKhXiroBCqbgSBagHWj9kSidEwARFPB_Cl4d0M-lJfoI60gG9ZCXkix4E5furc8MJmytV23cNlc', 'timeStamp': 'Sun, 22 Oct 2017 18:00:41 GMT', 'userStatus': 'Guest', 'contentKey': 1557005915, 'siteKey': 2490368, 'authorKey': 1000669260, 'publishedDate': '8/29/2017 9:11:35 PM', 'userId': '5252076e-8bfc-4fae-a2f1-4ff6ed1adab6'}
<class 'list'>

In [6]:
test_df = pd.DataFrame(test_list)

In [7]:
import datetime

In [9]:
END_DATE = datetime.date(2017, 10, 31)
print(END_DATE)
print(type(END_DATE))

2017-10-31
<class 'datetime.date'>

In [71]:
test_df.authorKey = test_df.authorKey.astype(str)
test_df.contentKey = test_df.contentKey.astype(str)
test_df.siteKey = test_df.siteKey.astype(str)
test_df.timeStamp = pd.to_datetime(test_df.timeStamp)

test_df.describe()

,authorKey,contentKey,pathRoot,publishedDate,referrer,siteKey,timeStamp,userAgent,userId,userStatus
count,175724,175724,175724,171520,162075,175724,175723,175724,174221,175724
unique,321,1403,127,1393,1476,45,3886,10918,53986,2
top,1000669260.0,3513583235.0,GALLERY,10/22/2017 11:21:44 AM,http://m.facebook.com,24248320,2017-10-22 18:48:00,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,680b8738-4b5c-4428-85b1-dc3b36a0c61d,Guest
freq,48032,14075,82263,14340,70469,30858,81,4631,201,168372
first,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-22 15:57:12,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-22 19:08:21,NaN,NaN,NaN

In [ ]:
userdata_df.withColumnRenamed("referrer", "path_root")

In [16]:
test_df.columns

Index(['authorKey', 'contentKey', 'pathRoot', 'publishedDate', 'referrer',
       'siteKey', 'timeStamp', 'userAgent', 'userId', 'userStatus'],
      dtype='object')

In [72]:
test_df.head()

,authorKey,contentKey,pathRoot,publishedDate,referrer,siteKey,timeStamp,userAgent,userId,userStatus
0,1000669260.0,1557005915.0,GALLERY,8/29/2017 9:11:35 PM,http://lm.facebook.com/l.php?u=http%3A%2F%2Fap...,2490368,2017-10-22 18:00:41,Mozilla/5.0 (Linux; Android 5.1.1; SM-J100VPP ...,5252076e-8bfc-4fae-a2f1-4ff6ed1adab6,Guest
1,1090453527.0,2719417987.0,BOARD,10/22/2017 5:10:29 AM,https://scout.com/nfl/vikings/Board/102855/Con...,69664768,2017-10-22 18:00:45,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,18c4eb97-c5a3-408a-b7d2-b300646cd208,Guest
2,2103509004.0,2907244163.0,GALLERY,10/22/2017 7:23:38 AM,https://www.facebook.com/,25231360,2017-10-22 18:00:38,Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...,d318434f-8010-4581-be5b-33b6a9f84920,Guest
3,1090453527.0,2719417987.0,BOARD,10/22/2017 5:10:29 AM,https://scout.com/nfl/vikings/Board/102855/Con...,69664768,2017-10-22 18:00:45,Mozilla/5.0 (iPhone; CPU iPhone OS 11_0_3 like...,de97e16c-a053-407b-846f-3a7c7251a3a7,Guest
4,1000669260.0,3513583235.0,BOLT,10/22/2017 11:21:44 AM,http://m.facebook.com,25362432,2017-10-22 18:00:44,Mozilla/5.0 (iPhone; CPU iPhone OS 11_0_3 like...,fdc9218e-4fab-4a76-9895-51f49b90f7e0,Guest

In [69]:
test_df.describe()

          authorKey    contentKey       siteKey
count  1.715200e+05  1.715200e+05  1.757240e+05
mean   1.761170e+09  2.671953e+09  2.723240e+07
std    9.838066e+08  1.230934e+09  1.481644e+07
min    6.553600e+04  9.846870e+05  2.097152e+06
25%    1.000669e+09  1.793591e+09  2.424832e+07
50%    1.636565e+09  3.076851e+09  2.483814e+07
75%    2.523529e+09  3.697674e+09  2.516582e+07
max    4.294050e+09  4.289202e+09  7.530086e+07

In [ ]:
def import_file(fname, hr_num): 
    for day_num in range(22, 23):
        path = "data/StreamToS3-5-2017-10-22-" + hr_nm + "*"
        #path = os.path.join('/data/StreamToS3-5-2017-10-22-', hr_nm)
        day = datetime.date(year=2017, month=10, day=day_num)
        for idx, fname in enumerate(glob.iglob(path)):
            logger = logging.getLogger()
            with open(fname, "r") as f:
                contents = f.read().decode("utf-8")
            newsletter_traffic = []
            for bit in contents[1:-1].split('}{'):
                try:
                    rec = json.loads("{" + bit + "}")
                except ValueError as e:
                    logger.warning("BAD JSON")
                    continue